@use '../../util' as *;

.content__body {
    list-style: none;
    padding: 0;
    margin: 20px;
    text-align: right;
  }
  
  .content__body--ulist {
    list-style: none;
    padding: 0;
    margin: 10px;
  }
  
  .item {
    display: inline-block;
    margin-right: 20px;
  }
  
  .content__body ul li a {
    text-decoration: none;
    color: var(--dark-grey);
    padding: 0.625rem 1.875rem;
  }
  


.content__main {
    position: relative;
    padding: rem(10) rem(50);
    width: 100%;

    input[type="radio"] {
        position: absolute;
        left: -200vw;
    }

    label {
        position: relative;
        display: inline-block;
        width: 48%;
        padding: rem(4) rem(20);
        font-size: rem(24);
        margin-bottom: rem(20);
        border-bottom: 2px solid var(--bg);
        text-align: center;
        transition: 0.1s ease;
    }

    label:nth-child(2) {
        margin-right: rem(10);
    }

    label:hover {
        color: var(--lighter--peach);
    }

    input:nth-child(1):checked ~ .content__main--cont > .content__main--cont__panel:nth-child(1) {
        display: block ;
    }

    input:nth-child(3):checked ~ .content__main--cont > .content__main--cont__panel:nth-child(2) {
        display: block;
    }

    input:nth-child(1):checked ~ label:nth-child(2),
    input:nth-child(3):checked ~ label:nth-child(4) {
        //background: var(--peach);
        color: var(--peach);
        border-color: var(--peach);
    }

    &--cont {
        &__panel {
            display: none;

            &--option {
                width: 100%;
                margin-bottom: rem(30);

                &__title {
                    width: 100%;
                    font-size: rem(20);
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    color: var(--white);
                    background: var(--peach);
                    border: var(--peach);
                    border-radius: 3px;
                    margin-bottom: 30px;
                    overflow: hidden;
                    text-align: center;

                    p {
                        width: 95%;
                        padding: 0 rem(20);
                        text-transform: uppercase;
                    }
                }

                &__main {
                    width: 100%;
                    padding: rem(10) rem(20);
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                }

                &__map {
                    width: 100%;
                    display: grid;
                    grid-template-columns: 2fr 1fr;
                    gap: rem(30);

                    &--trains {
                        width: 100%;

                        p {
                            background: var(--bg);
                            text-align: center;
                            padding: rem(8) 0;
                            font-size: rem(18);
                            border-radius: 3px;
                        }
                    }

                    &--map {
                        width: 100%;
                    }
                }
            }
        }
    }
}


.info_actu .entete p {
    font-size: 120%;
    color: var(--red);
    font-weight: bold;
    margin-left: 10px;
    margin-bottom: 10px;
  }

  
.info_actu {
    width: 100%;
  }

  .content__body--ulist .item a:hover {
    color: var(--red);
}

.containers {
    display: block;
}

.info_actuality{
    margin-top: 10px;
    width: 100%;
}

.containers .info_head {
    display: flex;
    margin: 20px;
}


.containers .info_head .info_date{
    margin-right: 20px;
}


.containers .info_head .info_main{
    margin-right: 20px;
    font-size: 110%;
    font-weight: bold;
}


.containers .info_head {
    width: 100%;
    cursor: pointer; 
    user-select: none;
}
.containers .info_body {
    transition: 0.2s ease;
}
.containers .info_body[status="closed"] {
    height: 0px;
    overflow: hidden;
}
.containers .info_body[status="opened"] {
    height: auto;
}

.arrow-down {
    margin-right: 0%;
    display:  flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s ease;
}

.arrow-down.clicked {
    transform: rotate(180deg);
}

.info_body{
    margin-left: 30px;
}

.info_body ul{
    margin-left: rem(50);
}

.info_actuality hr {
margin: rem(10);
}

.content__main--cont__panel .info_actu .entete h3 {
    margin-top: rem(10);
}

.content__body ul {
    margin: rem(50);
}
