@use '../util' as *;

* {
    padding: 0;
    margin: 0;
}

.content__header {
    position: fixed;
    z-index: 2;
    width: 100%;
    height: auto;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--bg);

    &--logotext {
        width: 90%;
        text-align: center;
        color: var(--dark-grayish-blue);
    }

    &--tab {
        display: flex;
        align-items: center;
        justify-content: end;
        width: 10%;

        &__icon {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 33%;
            height: 100%;
            padding: rem(6) rem(3);
            color: var(--dark-grayish-blue);

            &#close {
                &:hover {
                    background: red;
                    svg {
                        color: var(--white);
                    }
                }
            }

            &#reduce {
                padding: rem(6) rem(3);
                color: var(--dark-grayish-blue);

                svg[class="maximize"] {
                    display: none;
                }
            }

            &#minimize {
                padding: rem(6) rem(3);
            }

            &:hover {
                background: var(--light-grayish-peach);
            }
        }
    }
}

.content__section {
    margin-top: rem(40);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    &--burger {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: rem(30);
        color: var(--dark-grayish-blue);
    }

    &--logo_part {
        display: flex;
        align-items: center;
        justify-content: left;
        padding: 0 50px;
        width: 20%;
        height: 100%;
        pointer-events: none;

        &__logo {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 3px;
            color: var(--black);
            background: linear-gradient(225deg, hsl(37, 97%, 70%) 0%, hsl(5, 77%, 71%) 100%);
            margin-right: 10px;
        }

        &__text {
            color: var(--dark-grey);
            font-size: 20px;
            font-weight: 500;
            text-transform: uppercase;
            letter-spacing: 3px;
        }
    }

    &--util {
        width: 75%;
        height: 100%;
        padding: 0 50px;

        &__search {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 60%;

            &--search_bar {
                display: flex;
                align-items: center;
                justify-content: center;
                margin-right: 10px;
                border: 1px solid var(--black);
                width: 72%;
                padding: 3px;

                &:focus-within {
                    border: 1px solid var(--peach);
                }

                #searchbar {
                    border: none;
                    outline: none;
                    width: 90%;
                    padding: 5px 15px;
                    border-right: 1px solid var(--high-light-2);
                }

                .svg {
                    width: 10%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }

            button {
                padding: 9px 20px;
                margin-right: 50px;
                outline: none;
                border: none;
                border-radius: 3px;
                background: var(--peach);
                color: var(--white);
                transition: 0.1s ease;

                &:hover {
                    background: var(--light-peach);
                }
            }
        }
    }
}

.content__pages {
    position: fixed;
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    top: 0;
    left: -100%;
    background: linear-gradient(
        to left,
        rgba(0, 0, 0, 0.6),
        rgba(0, 0, 0, 0.6)
    );
    transition: 0.3s ease;

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        width: 25%;
        height: 100%;
        background: var(--white);
        padding: rem(60) 0;
    }
    
    &.opened {
        position: fixed;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: space-between;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: linear-gradient(
            to left,
            rgba(0, 0, 0, 0.4),
            rgba(0, 0, 0, 0.4)
        );
        transition: 0.3s ease;
    }

    ul {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: right;

        li {
            list-style: none;
            height: 100%;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: start;

            &.selected {
                background: var(--bg);
            }

            a {
                width: 100%;
                text-decoration: none;
                color: var(--dark-grey);
                padding: rem(10) rem(30);
                text-align: left;
                transition: 0.3s ease;

                &:hover {
                    background: var(--light-grayish-peach);
                }
            }
        }
    }

    &--profile {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
        width: 100%;
        padding: rem(0) rem(30);

        &__main {
            width: rem(40);
            height: rem(40);
            border-radius: 50%;
            overflow: hidden;
        }

        &__hello {
            display: flex;
            align-items: center;
            justify-content: center;

            p {
                text-align: left;
                color: var(--dark-grayish-blue);
                margin-right: rem(10);
            }

            div {
                display: flex;
                align-items: center;
                justify-content: center;
                color: var(--peach);
            }
        }
    }

    &--about {
        width: 100%;
        color: var(--dark-grayish-blue);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        a {
            width: 100%;
            text-decoration: none;
            color: var(--dark-grayish-blue);
            padding: rem(0) rem(30);
            text-align: left;
            transition: 0.3s ease;
            margin: 0;
        }

        div {
            width: 100%;
            padding: rem(0) rem(30);
            display: flex;
            align-items: center;
            justify-content: left;

            .version {
                margin-right: rem(5);
            }

            a {
                width: auto;
                padding: 0;
                margin-left: rem(5);
            }
        }
    }
}

.content__main {
    position: relative;
    padding: rem(10) rem(50);
    width: 100%;

    input[type="radio"] {
        position: absolute;
        left: -200vw;
    }

    label {
        position: relative;
        display: inline-block;
        width: 48%;
        padding: rem(4) rem(20);
        font-size: rem(24);
        margin-bottom: rem(20);
        border-bottom: 2px solid var(--bg);
        text-align: center;
        transition: 0.1s ease;
    }

    label:nth-child(2) {
        margin-right: rem(10);
    }

    label:hover {
        color: var(--lighter--peach);
    }

    input:nth-child(1):checked ~ .content__main--cont > .content__main--cont__panel:nth-child(1) {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: rem(50);
    }

    input:nth-child(3):checked ~ .content__main--cont > .content__main--cont__panel:nth-child(2) {
        display: block;
    }

    input:nth-child(1):checked ~ label:nth-child(2),
    input:nth-child(3):checked ~ label:nth-child(4) {
        //background: var(--peach);
        color: var(--peach);
        border-color: var(--peach);
    }

    &--cont {
        &__panel {
            display: none;

            &--option {
                width: 100%;
                margin-bottom: rem(30);

                &__title {
                    width: 100%;
                    font-size: rem(20);
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    color: var(--white);
                    background: var(--peach);
                    border: var(--peach);
                    border-radius: 3px;
                    margin-bottom: 30px;
                    overflow: hidden;
                    text-align: center;

                    p {
                        width: 95%;
                        padding: 0 rem(20);
                        text-transform: uppercase;
                    }
                }

                &__main {
                    width: 100%;
                    padding: rem(10) rem(20);
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                }

                &__map {
                    width: 100%;
                    display: grid;
                    grid-template-columns: 2fr 1fr;
                    gap: rem(30);

                    &--trains {
                        width: 100%;

                        p {
                            background: var(--bg);
                            text-align: center;
                            padding: rem(8) 0;
                            font-size: rem(18);
                            border-radius: 3px;
                        }
                    }

                    &--map {
                        width: 100%;
                    }
                }
            }
        }
    }
}